* {
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #003153;
    padding: 20px;
}

h1 {
    background-color: #A42A04;
}

p {
    margin: 5%;
}

main {
    background-color: aliceblue;
}

header nav a {
    margin: 10px;
    color: gold;
}

footer {
    display: flex;
    align-items: center;
    background-color: #003153;
    padding: 20px;
}

footer a {
    color: gold;
    padding: 10px;
}

.about,
.work {
    display: flex;
    margin: 20px;
}

.about-aside,
.work-aside,
.contact-aside {
    flex: 1;
    text-align: right;
    padding: 10px;
    border-right: 3px solid black;
}

.about-sec,
.contact-sec,
.work-div {
    flex: 3;
}

.contact-sec {
    text-align: center;
    line-height: 2;
}

.work-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.large-image {
    position: relative;
    width: 100%;
    margin: 1% 5%;
}

.small-image {
    position: relative;
    width: 40%;
    margin: 1% 5%;
}

.large-image img {
    width: 100%;
    height: 500px;
}

.small-image img {
    width: 100%;
    height: 200px;
}

.small-image,
.large-image {
    border: 5px solid black;
    
}

section h3 {
    position: absolute;
    bottom: 20px;
    padding: 5px;
    z-index: 2;
    width: auto;
    background-color: red;
}

@media screen and (max-width: 992px) {
   .work {
    flex-direction: column;
   }
   .work-aside {
    text-align: center;
    border-right: none;
   }
}

@media screen and (max-width: 768px){
    .about {
        flex-direction: column;
    }
    .about-aside {
        text-align: center;
        border-right: none;
    }
}

@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
    }
    .contact-aside {
        text-align: center;
        border-right: none;
    }
}