/*CSS variables to make changing the color scheme easier*/
:root {
    --primary: #003153;
    --secondary: #A42A04;
    --tertiary: gold;
}

* {
    box-sizing: border-box;    
}

/*Element selectors*/
body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
}

/*Makes the header into a flexbox that properly spaces its' content both horizontally and vertically*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary);
    padding: 20px;
}

h1,
footer aside h2 {
    background-color: var(--secondary);
    padding: 10px;
}

/*Making the nav bar at the top bold*/
header a {
    font-weight: 900;
}

p {
    margin: 5%;
    font-size: 16px;
}

main {
    background-color: aliceblue;
}

header nav a {
    margin: 10px;
    color: gold;
}

/*This part makes the titles appear over the hyperlinked images*/
section h3 {
    position: absolute;
    bottom: 20px;
    padding: 5px;
    z-index: 2;
    width: auto;
    background-color: var(--secondary);
}

/*Makes the footer into a flexbox*/
footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary);
    padding: 20px;
}

footer a {
    color: var(--tertiary);
    padding: 10px;
}

/*Class Selectors*/
/*Makes the about me and work sections into flexboxes*/
.about,
.work {
    display: flex;
    margin: 20px;
}

/*Children of the about, work, and contact flexboxes. Defines how much space the asides takes compared to their adjacent section content.*/
.about-aside,
.work-aside,
.contact-aside {
    flex: 1;
    text-align: right;
    padding: 10px;
    border-right: 5px solid black;
    font-size: 25px;
}

/*Also children of the about, work, and contact flexboxes. Defines how much space to take compared to their adjacent aside content*/
.about-sec,
.contact-sec,
.work-div {
    flex: 3;
}

.contact-sec {
    text-align: center;
    line-height: 2;
}

/*Creates a flexbox for the hyperlinked images to be house in.*/
.work-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Makes the large and small hyperlinked images have relative positioning so their h3 titles will display over them. Also defines their size and margins on the screen.*/
.large-image {
    position: relative;
    width: 100%;
    margin: 1% 5%;
}

.small-image {
    position: relative;
    width: 40%;
    margin: 1% 5%;
}

/*Defines the sizes of the hyperlinked images*/
.large-image img {
    width: 100%;
    height: 500px;
}

.small-image img {
    width: 100%;
    height: 200px;
}

/*Adds borders around hyperlinked images*/
.small-image,
.large-image {
    border: 5px solid var(--secondary);
    
}

/*media queries to make the content dynamically change based on screen size*/
@media screen and (max-width: 992px) {
   .work {
    flex-direction: column;
   }
   .work-aside {
    text-align: center;
    border-right: none;
   }
}

@media screen and (max-width: 768px){
    .about {
        flex-direction: column;
    }
    .about-aside {
        text-align: center;
        border-right: none;
    }
}

@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
    }
    .contact-aside {
        text-align: center;
        border-right: none;
    }
}