* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: aqua;
    padding: 20px;
}

h1 {
    background-color: brown;
}

header nav a {
    margin: 10px;
}
